extends layout.pug
block style 
    style
        include css/style.css
    style 
        include css/about.css
block content
    section.info 
      div.about
        div.text
          h1 About Our Gym
          hr
          h3 After sleep before Gym
          p Find Instant Quality Results Now! Get Best Gym In Us. Discover Best Gym In Us. Find Quick Results from Multiple Sources. Wiki, News & More. Web, Images & Video. 100+ Million Visitors. Trusted by Millions. Information 24/7. The Complete Overview.
          p Regular physical activity can improve your muscle strength and boost your endurance. Exercise delivers oxygen and nutrients to your tissues and helps your cardiovascular system work more efficiently. And when your heart and lung health improve, you have more energy to tackle daily chores.
          p Based on that, working out 2 hours per day might not be a very big stretch for most people. However, if you are new to exercise, a 2 hour workout can do more harm than good. Start with 15 minute sessions, then gradually at time as your body adapts.
          p By doing efficient exercises and controlling your diet, you can expect to lose between one and two pounds a week. Done correctly, you may be able to get toned in a month, but keep in mind that for most people, it is more realistic to start to see results in six to eight weeks.
          hr 
          h1 Gym – a place for workout
          hr 
          p A modern day gymnasium (as gym used to be called way back in Ancient Greece) is a place 
           | for indoor physical workout where various equipment and machines are typically used. For some people, a typical gym is a 
           | place where you focus on weight lifting and similar activities.
          p Find Instant Quality Results Now! Get Best Gym In Us. Discover Best Gym In Us. Find Quick Results from Multiple Sources. Wiki, News & More. Web, Images & Video. 100+ Million Visitors. Trusted by Millions. Information 24/7. The Complete Overview.
          p Regular physical activity can improve your muscle strength and boost your endurance. Exercise delivers oxygen and nutrients to your tissues and helps your cardiovascular system work more efficiently. And when your heart and lung health improve, you have more energy to tackle daily chores.