doctype html
html
  head
    title #{title}
    style
      include style.css
  body
    nav.navbar
        ul  
            li #[img( src="../img/logo.png" alt="no net" id='logo')]
            li #[a(href="/") Home]
            li #[a(href="/") About us ]
            li #[a(href="/") Contract]
            li #[a(href="/") Sing in ]
            li #[a(href="/") login ]
    section.info 
      div.about
        div.text
          h1 About Our Gym
          hr
          h3 After sleep before Gym
          p Find Instant Quality Results Now! Get Best Gym In Us. Discover Best Gym In Us. Find Quick Results from Multiple Sources. Wiki, News & More. Web, Images & Video. 100+ Million Visitors. Trusted by Millions. Information 24/7. The Complete Overview.
          p Regular physical activity can improve your muscle strength and boost your endurance. Exercise delivers oxygen and nutrients to your tissues and helps your cardiovascular system work more efficiently. And when your heart and lung health improve, you have more energy to tackle daily chores.
          p Based on that, working out 2 hours per day might not be a very big stretch for most people. However, if you are new to exercise, a 2 hour workout can do more harm than good. Start with 15 minute sessions, then gradually at time as your body adapts.
          p By doing efficient exercises and controlling your diet, you can expect to lose between one and two pounds a week. Done correctly, you may be able to get toned in a month, but keep in mind that for most people, it is more realistic to start to see results in six to eight weeks.
    srction.workout
      div.card
        img(src="../img/img-1.png", alt="No new")
        p How long should a trip to the gym take? 
          br
          |Image result for gym trips Devote at least 30 to 45 minutes, three times per week to the gym. This schedule assumes you have a good eating plan and are not consuming more calories than your body needs.
      div.card
        img(src="../img/img-2.png", alt="No new")
        p How many trips to the gym before I see results?
          br
          |“After the first four to six months of training, it might be necessary to do four to six sessions per week week to keep adding stimulus to the muscles,” 
      div.card
        img(src="../img/img-3.png", alt="No new")
        p What are some of gym tips?
          br
          | 1.Strong
          br
          | 2.Work Hard
          br
          | 3.Ask How
          br
          | 4.Eat Up
          br
          | 5.Be Realistic
          br
          | 6.Rest and Repeat
    section.sponser 
      h1 our sponser 
        hr
        hr
    div.img-sponser
      img(src="../img/google.png")
      img(src="../img/microsoft.png")
      img(src="../img/facebook.png")
      img(src="../img/apple.png")

    section.bottom
      p Copyright © shounfoysal@gmail.com | 2022 