extends layout.pug
block style 
    style
        include css/style.css
        include css/con-style.css
        include css/login.css
block content
    section.info 
        section.contract
            div.form
                h1 Enter you Email & password & login
                h1
                form(action="/contract" method="post" id="content") 
                    input.input-c(type="email" name="email" id="email" placeholder="Enter you Gmail")
                    input.input-c(type="password" name="pass" id="pass" placeholder="Enter you Password")
                    button(class="btn")
                        |Login